@media screen and (max-width: 808px){
    body{
        background-position: left bottom;
        width: 100%;
        background-attachment: scroll;
        background-color: #ffdd94;
        background-image: linear-gradient(#ffdd94, #fa897b);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin: 0%;
        padding: 0%;
    }

    #cabecalho{
        color: #ffdd94;
        margin: 0%;
    }

    h1{
        font-size: 200%;
        color: #ffffff;
        background-color: #ffdd94;
        background: size 100%;
        text-align: center;
        padding-left: 5%;
        padding-top: 2%;
        padding-bottom: 2%;
        margin: 0%;
    }

    #navbar{
        display: flex;
        justify-content: space-evenly;
        padding-left: 5%;
        padding-right: 5%;
        background-color: #ffffff;
        margin: 0%;
        text-decoration: unset;
    }

    a{
        font-size: 80%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: #fa897b;
        text-decoration: unset;
        margin: 0%;
        padding-right: 0%;
    }
    
    a:hover{
        color: #ffdd94;
        text-decoration: unset;
    }
    
    #apresentacao{
        margin-top: 0%;
    }

    .textap{
        padding-left: 5%;
        padding-right: 5%;
        text-align: justify;
        font-size: 100%;
        color: rgb(48, 48, 48);
        line-height: 0.9;
    }

    #noticias{
        flex-wrap: wrap;
        margin: 8%;
    }

    .noticiasDestaque{
        padding: 0%;
        margin: 2%;
    }

    .imgDestaque{
        margin: 0%;
        border-radius: 50%;
        box-shadow: gray 1px 1px 2px;
        width: 100%;
        height: auto;
        opacity: 1.0;
    }

    .imgDestaque:hover{
        opacity: 0.5;
    }

    .linkDestaque{
        margin: 3%;
        justify-self: center;
        text-align: center;
        font-size: 100%;
        color: rgb(48, 48, 48);
        background-color: #ffffff;
        border-radius: 5px;
        width: 90%;
        height: 5%;
        padding: 2%;
        opacity: 1.0;
    }

    .linkDestaque:hover{
        opacity: 0.5;
    }

    #videos{
        display: block;
        padding: 0%;
        margin: 8%;
    }

    .descVideo{
        justify-content: center;
        text-align: center;
        font-size: 100%;
        background-color: #ffffff;
        border-radius: 5px;
        padding: 2%;
        opacity: 1.0;
        margin-bottom: 8%;
    }

    .descVideo:hover{
        opacity: 0.5;
    }

    #rodape{
        background-color: white;
        background-size: 100%;
        margin-top: 5%;
        padding-top: 1%;
        padding-left: 5%;
        padding-bottom: 1%;
    }
}

@media screen and (min-width: 809px){
    body{
        background-image: url("imagens/home.png");
        background-repeat: repeat-x;
        background-position: center top;
        background-size: 100%;
        background-attachment: scroll;
        background-color: #fa897b;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin: 0%;
        padding: 0%;
    }

    #cabecalho{
        color: #ffdd94;
        margin: 0%;
    }

    h1{
        color: #ffffff;
        background-color: #ffdd94;
        background: size 100%;
        text-align: left;
        padding-left: 5%;
        padding-top: 2%;
        padding-bottom: 2%;
        margin: 0%;
    }

    #navbar{
        display: flex;
        justify-content: space-evenly;
        padding-left: 5%;
        padding-right: 5%;
        background-color: #ffffff;
        margin: 0%;
        text-decoration: unset;
    }

    a{
        font-size: 100%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: #fa897b;
        text-decoration: unset;
        margin: 0%;
        padding-right: 0%;
    }

    a:hover{
        color: #ffdd94;
        text-decoration: unset;
    }

    #apresentacao{
        margin-top: 0%;
    }

    .textap{
        padding-left: 5%;
        text-align: left;
        font-size: 14pt;
        color: rgb(48, 48, 48);
        line-height: 0.9;
    }


    #noticias{
        display: flex;
        justify-content: space-between;

    }

    .noticiasDestaque{
        padding: 0%;
        margin: 3%;
    }

    .imgDestaque{
        margin: 0%;
        border-radius: 50%;
        box-shadow: gray 1px 1px 2px;
        width: 100%;
        height: auto;
        opacity: 1.0;
    }

    .imgDestaque:hover{
        opacity: 0.5;
    }

    .linkDestaque{
        margin: 3%;
        justify-content: center;
        text-align: center;
        font-size: 12pt;
        color: rgb(48, 48, 48);
        background-color: #ffffff;
        border: #ffffff 2px solid;
        box-shadow: gray 1px 1px 2px;
        border-radius: 5px;
        width: 99%;
        height: auto;
        padding: 2%;
        opacity: 1.0;
    }

    .linkDestaque:hover{
        opacity: 0.5;
    }

    #videos{
        display: flex;
        justify-content: space-evenly;
        padding:0%;
        margin-bottom: 10%;
    }

    .descVideo{
        justify-content: center;
        text-align: center;
        font-size: 12pt;
        background-color: #ffffff;
        box-shadow: gray 1px 1px 2px;
        border-radius: 5px;
        padding: 2%;
        opacity: 1.0;
    }

    .descVideo:hover{
        opacity: 0.5;
    }

    #rodape{
        background-color: white;
        background-size: 100%;
        margin-top: 5%;
        padding-top: 1%;
        padding-left: 5%;
        padding-bottom: 1%;
    }
}
